*{
    padding: 0px;
    margin: 0px;
}
:root{
    --e-global-color-primary: #2270F5;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #1F2937;
    --e-global-color-accent: #61CE70;
    --e-global-color-31f7794c: #4054B2;
    --e-global-color-972aff2: #23A455;
    --e-global-color-1cc8405a: #000;
    --e-global-color-57433a48: #FFF;
    --e-global-color-1b036b70: #DB3236;
    --e-global-color-2f30f928: #4A2222;
    --e-global-color-47c8d7c6: #4885ED;
    --e-global-color-2e63ab23: #F4C20D;
    --e-global-color-60a76ab5: #222222;
    --e-global-color-0be09ed: #4163E3;
    --e-global-color-71cfc30: #2270F5;
}
header{
    display: flex;
    justify-content: space-between;
    img{
        max-width: 10%;
    }
    a{
        text-decoration: none;
        margin: 20px;
        color: black;
    }
}
.About{
    background: #4A2222;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 60px;
}
.Approach{
    text-align: center;
    font-size: 20px;
    padding: 60px;
}
.skill-set{
    display: flex;
    img{
        max-width: 70%;
        margin-top: 20px;
    }
    margin: 20px;
    gap: 20px;
    text-align: center;
    h1{
        font-weight: 600;
        font-size: 30px;
    }
    p{
        font-weight: 200;
        font-size: 20px;
    }
}
main{
    display: flex;
    margin-top: 70px;
    margin: 30px;
    h1{
        color:#DB3236;
        font-weight: 600;
        font-size: bold;
        margin-bottom: 30px;
    }
     p{
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 50px;
    }
    a{
        padding: 20px;
        background-color: #DB3236;
        border-radius: 50px;
        color: white;
        text-decoration: none;
         font-size: 20px;
    }
    a:hover{
        color: #DB3236;
        background-color: #fff;
        border-color: #DB3236;
    }
}
.student{
    text-align: center;
    margin: 50px;
    margin-top: 90px;
     h1{
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
    }
     p{
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 50px;
    }
}
